<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>Facial Expression Analyzer</h1>
        
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageInput" accept="image/*" name="file">
            <button type="button" onclick="analyzeExpression()">Analyze</button>
        </form>

        <img id="uploadedImage" alt="Uploaded Image" style="display: none; max-width: 50%;">
        <div id="result"></div>
    </div>





    
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
